@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
	background: url(../images/Boy_Running.jpg);
	background-size: cover;
	color: #fff;
	font-family: Times New Roman, serif;
	margin: 10em;
}
h1	{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #54c9f3;
}
h3	{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: #54c9f3;
}
#slogan	{
	font-style: italic; 
}
