body {
	background: url(../images/Boy_Running.jpg);
	background-size: cover;
	color: #fff;
	font-family: Helvetica;
}
h1	{
	font-weight: 700;
	font-size: 24px;
	color: #000000;
}
#slogan	{
	font-style: italic; 
}
